<%= content_tag :div,
  id: "webauthn_credential_form",
  data: {
    controller: "credential-authenticator",
    "credential-authenticator-options-value": @options
  },
  class: "flex flex-col items-center justify-center min-h-screen" do %>
    <h1 class="text-center text-3xl font-bold mb-6">Use a passkey to sign in</h1>
  <div class="mb-3 text-center">
    Insert a USB key, if necessary, and tap it.
  </div>
<% end %>

<%= content_for :cancel_path do %>
  <%= link_to "Cancel", action_auth.sign_in_path, class: "text-blue-600 hover:underline" %>
<% end %>
