<nav class="bg-white py-4 shadow">
  <div class="container mx-auto px-4 flex items-center justify-between">
    <a href="#" data-config-id="brand">
      🔵 AUTHAPP
    </a>
    <ul class="flex space-x-6">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
